html, body{
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body, .container, .links {
    display: flex;

}
body {
    background-color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'BLACK OPS 2';
}

h1.nombre, p.funcion {
    background: -webkit-linear-gradient(#dce5e7, #484848);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1.nombre {
    letter-spacing: 3px;
}

p.funcion {
    border-top: 3px solid #ec6f00;
    border-bottom: 3px solid #ec6f00;
    padding: 5px;
}

.container {
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container .links {
    flex-direction: row;
}

.icono {
    width: 35px;
}

.links {
    width: 260px;
    justify-content: space-around;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

img#perfil{
    border-radius: 50%;
    width: 147px;
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@font-face {
    font-family: 'BLACK OPS 2';
    font-style: normal;
    font-weight: normal;
    src: local('BLACK OPS 2'), url('../font/blops.woff') format('woff');
}

@media screen and (max-width: 768px)
{
    .container h1{
        font-size: 20px;
    }

    .container p{
        font-size: 15px;
    }
}
